/**********************************************************************/
/*  PROYECTO FIGURAS              */
/*  EQUIPO PORTUGAL                 */


* {
  margin: 0;
  padding: 0;

  /* outline: 1px solid red; */
}

:root {
  --color-fondo: hsl(69, 42%, 94%);
  --color-primario: hsl(0, 0%, 0%);
  --color-sobre-primario: hsl(2, 100%, 100%);
  --color-secundario: hsl(2, 50%, 100%);
  --color-sobre-secundario: hsl(2, 0%, 0%);

  /* Concretar el diseño tipográfico con fuentes no generalistas */
  --fuente-primaria: sans-serif;
  --fuente-secuendaria: sans-serif;

  /* Color y tamaño de las figuras */
  --color-figuras: hsl(0, 0%, 0%);
  --longitud-muestra: 100px;
}

/**********************************************************************/


.area {
  height:100vh;
  background-color: var(--color-fondo);
  font-family: var(--fuente-primaria);
  min-width: 400px; /*limitar la anchura*/
}

/**********************************************************************/
.cabecera {
  padding: 1.5rem;
  background-color: var(--color-primario);
}

.titulo-proyecto {
  color: var(--color-sobre-primario);
  text-align: center;
}

.equipo {
  text-transform: uppercase;
}

/**********************************************************************/

.panel {
  width: clamp(300px, 70%,  600px);
  margin: 1.5rem auto;
  border: 1px solid black;
}

/**********************************************************************/

.panel__patron {
  /* El estilo del borde cambiará dinámicamente con JS 
     para ilustrar cuando una figura entra en el panel del patrón  */
  
  /* Centrado vertical */
  display: block;
  padding: 5px;
  margin: 1rem auto; /* Centrar horizontalmente */
  border: 1px solid hsl(0, 0%, 0%);
  width: clamp(var(--longitud-muestra), 100%,  var(--longitud-muestra)); /**/


 
}



/**********************************************************************/

.panel__alternativas {
  /* Las figuras se enmarcan para identificarlas como un grupo */
  width: 100%;
  height:calc(var(--longitud-muestra)*1.5);

  /* ======= COMPLETAR REGLA ====== */
  /* Las figuras del panel se muestran centradas */
  text-align: center; /* Centrado horizontal */

  /* Centrado vertical */
  display: inline-block;

  /*Padding-top*/
  padding-top: 1.5rem;

}





/**********************************************************************/

.figura {
  /* ======= COMPLETAR REGLA ====== */
  
  /* Las figuras se enmarcan en cuadrados separados equidistantemente */
  /* ACLARACIONES:
       - Las figuras son definidas en HTML mediante elementos span
       - La dimensión se define en base a --logitud-muestra  */
       display: inline-block; /* Cambia a inline-block para que las figuras estén en línea horizontalmente */
       cursor: grab;

}

/*
.figura span {
  text-align: center;
  /* Centrar verticalmente /
  display: inline-block;
}
*/

.panel__patron .figura {
  /* La figura del patrón se muestra ligeramente transparente 
     para destacarla respecto de las del panel de alternativas */
  opacity: 50%;
}

/**********************************************************************/

/* Estilos para ilustrar la operación de arrastrar y soltar  */

.figura--sobrevolando {
  /* ======= COMPLETAR REGLA ====== */
    /* Estilos para el panelPatrón cuando una figura está sobrevolando */
    border: 2px dashed hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
}

.figura--arrastrando {
  /* ======= COMPLETAR REGLA ====== */
  cursor: grabbing;
  transform: scale(1.2) rotate(10deg); /* Aumentar el tamaño y girar al arrastrar */
  transition: transform 0.3s; 
  
}



/**********************************************************************/
/* Formas que pueden adoptar las figuras         */

.circulo {
  border-radius: 50%;
  background-color: var(--color-figuras);  
  width: var(--longitud-muestra); /* Establece el ancho igual a --longitud-muestra */
  height: var(--longitud-muestra);
  background-color: blue;
}

.triangulo {
  --mitad: calc(var(--longitud-muestra) / 2);

  border-left: var(--mitad) solid transparent;
  border-right: var(--mitad) solid transparent;
  border-bottom: var(--longitud-muestra) solid var(--color-figuras);
  
}

.hoja {
  background-color: var(--color-figuras);
  border-radius: 0% 75%;
  width: var(--longitud-muestra); /* Establece el ancho igual a --longitud-muestra */
  height: var(--longitud-muestra);
  background-color: green;
}
